body {
  color: #585856;
  font-size: 3ems;
  background-image: url("../Images/background-image-4735444__340.png");
  background-repeat: no-repeat,repeat; 
  background-size: 1500px 3000px;
  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(220, 240, 240);
  }

  li {
    float: left;
  }
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: white;
  }
  .Binder{
    float: right
  }
  .gh{
    float:right;
    width: 300px;
  }
 .assignment-buttons{
   text-align: center;
   margin: 4em
 }


.block1,.assignment-buttons-2,
.assignment-buttons-3,.assignment-buttons-4,
.assignment-buttons-5,.assignment-buttons-6,
.assignment-buttons-7,.assignment-buttons-8,
.assignment-buttons-9,.assignment-buttons-10{
    margin: 60px;
    padding:2em;
    width: 425px;
    height: 10em;
    display: inline-block;
    border: 12px solid rgb(43, 54, 54);
    cursor:pointer;
    font-size: 16px;
    color: rgb(56, 77, 77);
    font-family: 'Reggae One', cursive;
    border-radius: 3px,3px,3px,3px;
    background-color: rgb(110, 126, 124);
}




.block1:hover,.assignment-buttons-2:hover,
.assignment-buttons-3:hover,.assignment-buttons-4:hover,
.assignment-buttons-5:hover,.assignment-buttons-6:hover,
.assignment-buttons-7:hover,.assignment-buttons-8:hover,
.assignment-buttons-9:hover,.assignment-buttons-10:hover{
    color: rgb(102, 117, 117);
    background-color: rgb(62, 62, 121)}